::-webkit-scrollbar {
    display: none;
}

html {
    scroll-behavior: smooth;
    overflow-y: scroll;
}

body {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #1a1a2e; /* Dark blue background */
    color: white;
    box-sizing: border-box;
}

/* NAVEBAR */
header {
    margin: 0 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #1a1a2e; /* Same as body to blend in */
    border-bottom: 1px solid #e94560;
}

.logo img {
    width: 100px; /* Adjust size as necessary */
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    transition: all 0.4s ease;
}

nav ul li a:hover {
    color: #e94560; /* Red color for hover effect */
}

/* HERO */
.hero {
    margin: 0 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    color: white;
    padding: 50px;
    position: relative;
    background-color: #1a1a2e; /* Assuming a continuation of your navbar color */
    border-bottom: 1px solid #e94560;
}

.content {
    width: 50%;
}

.content h1 {
    font-size: 60px;
}

.content h1 span {
    color: #e94560;
}
.home-image {
    width: 50%;
}

.home-image img {
    width: 100%; /* Ensure the image takes up the full container width */
    height: auto; /* Maintain the aspect ratio of the image */
}

.hero .btn {
    margin-top: 2rem;
    background-color: #e94560; /* Red button */
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.4s ease;
}

.hero .btn a {
    text-decoration: none;
    color: white;
}

.hero .btn:hover {
    transform: scale(1.05);
    background-color: #812837;
}

.navigation-indicator {
    position: fixed; /* Keeps the dots fixed as previously defined */
    right: 50px;
    top: 50%;
    transform: translateY(-50%);
}

.dot {
    display: block;
    width: 10px;
    height: 10px;
    background-color: #e94560;
    border-radius: 50%;
    margin: 5px;
    opacity: 0.5;
}

.dot.active {
    opacity: 1;
}


/* ABOUT */
.about {
    margin: 0 5rem;
    background-color: #1a1a2e;
    height: 100vh;
    color: white;
    padding: 50px;
    text-align: center;
    border-bottom: 1px solid #e94560;
}

.about h2 {
    font-size: 60px;
    margin-bottom: 20px;
}

.about h2 span {
    color: #e94560;
}

.about p {
    font-size: 16px;
    margin-bottom: 30px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Creates 3 columns */
    grid-gap: 20px; /* Space between the cards */
    padding: 20px;
}

.card {
    background-color: #2a2a4e;
    padding: 20px;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transitions for transform and shadow */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.card img {
    width: 30%;
    height: 65%;
    border-radius: 10px;
}

.card:hover {
    transform: scale(1.05); /* Enlarges the card */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.7); /* Enhances the shadow */
}


/* PORTFOLIO */
.portfolio {
    margin: 0 5rem;
    height: 100vh;
    background-color: #1a1a2e;
    color: white;
    padding: 50px;
    text-align: center;
    border-bottom: 1px solid #e94560;
}
.portfolio h2 {
    font-size: 40px;
}
.portfolio h2 span {
    color: #e94560;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Creates 3 columns */
    grid-gap: 20px; /* Space between the cards */
}



.cards {
    background-color: #2a2a4e;
    padding: 20px;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transitions for transform and shadow */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.cards h3 {
    margin: 10px 0 5px; /* Space above and below the heading */
}   

.cards img {
    width: 75%;
    height: auto;
    border-radius: 10px;
}

.cards:hover {
    transform: scale(1.05); /* Enlarges the card */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.7); /* Enhances the shadow */
}

/* CONTACT ME */
.contact {
    margin: 0 5rem 5rem 5rem;
    background-color: #1a1a2e;
    color: #e94560; /* Color theme */
    padding: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact-content, .contact-image {
    width: 50%;
}

.contact h2 {
    margin-bottom: 20px;
    font-size: 24px;
}

.form-group {
    margin-bottom: 20px;
}

input[type="email"], textarea {
    width: 100%; /* Full width of the form container */
    padding: 10px;
    border: none;
    background-color: #2a2a4e;
    color: white;
    border-radius: 5px;
    outline: none;
}

textarea {
    height: 100px;
    resize: none; /* Prevents resizing */
}

.btn {
    background-color: #e94560;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
    border-radius: 5px;
}

.btn:hover {
    transform: scale(1.1); /* Scales up the button */
    background-color: #d8345f; /* Darkens the color */
}

.contact-image img {
    width: 100%; /* Ensures the image takes full width of the container */
    height: auto; /* Maintains aspect ratio */
}


/* FOOTER */
.footer {
    background-color: #181825;
    color: white;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; /* Allows items to wrap as needed */
    text-align: center; /* Center text for the copyright statement */
}

.footer-left, .footer-right {
    flex: 1 1 auto; /* Allows these items to grow */
    display: flex;
    align-items: center;
    flex-direction: column;
}

.footer-center {
    width: 100%; /* Takes full width to ensure centering below other content */
    order: 3; /* Makes sure it appears below when wrapping */
    margin-top: 10px; /* Adds some space above the copyright text */
}

.footer-logo {
    width: 50px; /* Adjust size as needed */
    height: auto;
    margin-bottom: 10px;
}

.footer h3, .footer h4 {
    margin: 0;
    padding: 0;
    color: #e94560; /* Adds a theme color for headings */
}

.footer p {
    margin: 5px 0 0; /* Small margin to top align with the header */
}
